<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>


<body>

    <%- include("../partials/welcome") %>

    <%- include("../partials/header") %>


    <main>
        <h3 class="formulario">Bienvenido <%= user.name %> </h3>
        <div class="vistaPerfil">
            
                
                    <!--<h2>Hola <%= user.name %> </h2>-->
                    <img class="profileAvatar" src="/images/usersAvatars/<%= user.avatar %> ">
                    <br>
                    <br>
                    <div class="profileEmail"><%= user.email %> </div>
                
            
        </div>
        


    </main>


    <%- include("../partials/footer") %>
    
</body>
</html>