<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>


<body>

    <%- include("../partials/welcome") %>

    <%- include("../partials/header") %>


    <main>
        <h2 class="main">CREA TU CUENTA</h2>
        <form action="/Usuarios/Registrarse" method="POST" enctype="multipart/form-data" class="registerFormulario">
            <div class="registerFormColumnas">
                
                <div class="formulariodiv">
                    <label for="domicilio">Domicilio:</label>
                    <input type="text" 
                        id="domicilio" 
                        name="address" 
                        placeholder="Ej: Av. Triunvirato 444 Dept 4-A" 
                        class="inputcontrol"
                        value="<%= locals.oldData ? oldData.address : null %>"
                    >
                        <% if(locals.errors && errors.address){ %>
                            <div class="errorValidation"><%= errors.address.msg %> </div>
                        <% } %> 
                </div>
                
                <div class="formulariodiv">
                    <label for="cp">Código Postal:</label>
                    <input type="number" 
                    id="cp" 
                    name="cp" 
                    placeholder="Ej: 9999" 
                    class="inputcontrol"
                    value="<%= locals.oldData ? oldData.cp : null %>"
                >
                    <% if(locals.errors && errors.cp){ %>
                        <div class="errorValidation"><%= errors.cp.msg %> </div>
                    <% } %> 
                </div>
                
                <div class="formulariodiv">
                    <label for="email">Correo electrónico:</label>
                    <input type="email" 
                    id="email" 
                    name="email" 
                    class="inputcontrol"
                    value="<%= locals.oldData ? oldData.email : null %>"
                >
                    <% if(locals.errors && errors.email){ %>
                        <div class="errorValidation"><%= errors.email.msg %> </div>
                    <% } %> 
                </div>
                
                <div class="formulariodiv">
                    <label for="number">Teléfono móvil:</label>
                    <input type="text" 
                    id="number" 
                    name="mobile" 
                    class="inputcontrol"
                    value="<%= locals.oldData ? oldData.mobile : null %>"
                >
                    <% if(locals.errors && errors.mobile){ %>
                        <div class="errorValidation"><%= errors.mobile.msg %> </div>
                    <% } %> 
                </div>
                
                <div class="formulariodiv">
                    <label for="Nombres">Nombres:</label>
                    <input type="text" 
                    name="name" 
                    placeholder="Ej: Pablo Gabriel" 
                    class="inputcontrol"
                    value="<%= locals.oldData ? oldData.name : null %>"
                >
                    <% if(locals.errors && errors.name){ %>
                        <div class="errorValidation"><%= errors.name.msg %> </div>
                    <% } %> 
                </div>
                
                <div class="formulariodiv">
                    <label for="Apellidos">Apellidos:</label>
                    <input type="text" 
                    name="lastname" 
                    placeholder="Ej: Cadena Weidmann" 
                    class="inputcontrol"
                    value="<%= locals.oldData ? oldData.lastName : null %>"
                >
                    <% if(locals.errors && errors.lastName){ %>
                        <div class="errorValidation"><%= errors.lastName.msg %> </div>
                    <% } %> 
                </div>
                                
                <div class="formulariodiv">
                    <label for="DNI">DNI:</label>
                    <input type="text" 
                    name="dni" 
                    placeholder="Ej: 12345678" 
                    class="inputcontrol"
                    value="<%= locals.oldData ? oldData.dni : null %>"
                >
                    <% if(locals.errors && errors.dni){ %>
                        <div class="errorValidation"><%= errors.dni.msg %> </div>
                    <% } %> 
                </div>

                <div class="formulariodiv">
                    <label>Imagen de Perfil:</label>
                    <input type="file" 
                    name="avatar"  
                    class="inputcontrol"
                    value="<%= locals.oldData ? oldData.avatar : null %>"
                >
                    <% if(locals.errors && errors.avatar){ %>
                        <div class="errorValidation"><%= errors.avatar.msg %> </div>
                    <% } %> 
                </div>


            </div>               
        <div class="registerFormColumnas">
                
                <div class="formulariodiv">
                    <label for="Contrasena">Contraseña</label>
                    <input type="password" 
                    name="password" 
                    class="inputcontrol" 
                    minlength="6"
                    value="<%= locals.oldData ? oldData.password : null %>"
                >
                    <% if(locals.errors && errors.password){ %>
                        <div class="errorValidation"><%= errors.password.msg %> </div>
                    <% } %> 
                </div>
            
           
        </div>
        
            <div class="contenedorButton"><button type="submit" class="buttonform">Crear cuenta</button></div>

            <p class="labelLogin">Si ya tenés una cuenta ingresá haciendo click <a href="http://localhost:3000/Usuarios/login">acá</a></p>
        </form>


    </main>


    <%- include("../partials/footer") %>
    
</body>
</html>