<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %>

<body>

    <%- include("../partials/welcome") %>

    <%- include("../partials/header") %>

    <main class="main-edicionProducto">
        <h2>EDITAR PRODUCTOS DEL SITIO</h2>
        <form action="/Productos/edicionProducto/<%= product.id %>?_method=PATCH"  method="POST" enctype="multipart/form-data" class="formulario">
            
            <!-- <div class="ambosLados"> -->

                <div class="ladoIzquierdo">

                    <div class="imageProducto">
                        <!--<label>Imagen:</label>-->
                        <p><img src="/images/products/<%= product.image%>" alt="imagen" id="imgProducto"></p>
                        <input type="file" name="image" class="inputcontrol" accept="image/*" value="<%= product.image %>" >
                    </div>

                </div>
            
            
                <div class="ladoDerecho">

                    <div class="editFormColumnas">
                
                        <div class="formulariodiv">
                            <label>Código producto (SKU):</label>
                            <input type="text" name="SKU" class="inputcontrol" value="<%= product.sku %> " >
                        </div>

                        <div class="formulariodiv">
                            <label>Categoría:</label>
                        <!-- ARREGLAR VALUE -->
                            <select type="text" name="category" class="inputcontrol" value="<%= product.productCategoryId %>" >
                                <option value="1">Textiles</option>
                                <option value="2">Giftbox</option>
                                <option value="3">Aromáticos</option>
                                <option value="4">Frascos</option>
                                <option value="5">Tazas y Mates</option>
                                <option value="6">Posavasos e Individuales</option>
                                <option value="7">Accesorios</option>
                            </select>    
                        </div>
               
                    </div>
            
                
                    <div class="formulariodiv">
                        <label>Nombre producto:</label>
                        <input type="text" name="name" class="inputcontrol" value="<%= product.name %>" >
                    </div>
                
                    <div class="formulariodiv">
                        <label>Descripción:</label>
                        <textarea name="description" class="inputcontrol"><%= product.description %> </textarea>
                        <label>Características:</label>
                        <textarea name="features" class="inputcontrol"><%= product.feature %> </textarea>
                    </div>
            
                    <div class="editFormColumnas">
                
                        <div class="formulariodiv">
                            <label>Precio venta:</label>
                            <input type="number" name="price" class="inputcontrol" value="<%= product.price %>" >
                        </div>

                        <div class="formulariodiv">
                            <label>Stock inicial:</label>
                            <input type="number" name="stock" class="inputcontrol" value="<%= product.stock %>" >
                        </div>

                    </div>
                </div>
            <!-- </div> -->
        
            <div class="contenedorButton"><button type="submit" class="buttonform">Confirmar</button></div>
           
        </form>
        

    </main>




    <%- include("../partials/footer") %>

</body>
</html>