<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %>

<body>

    <%- include("../partials/welcome") %>

    <%- include("../partials/header") %>

    <main>
        <h2 class="main">ELIMINAR PRODUCTOS DEL SITIO</h2>
        <form action="/Productos/eliminacionProducto/<%= productoSeleccionado.id %>?_method=DELETE"  method="POST" enctype="multipart/form-data" class="formulario">
            <div class="formColumnas">
                
                <div class="formulariodiv">
                    <label>Código producto (SKU):</label>
                    <p class="inputcontrol"><%= productoSeleccionado.sku %></p>
                </div>

                <div class="formulariodiv">
                    <label>Categoría:</label>
                    <p class="inputcontrol"><%= productoSeleccionado.productCategoryId %></p>
                </div>
               
            </div>
            
                
                <div class="formulariodiv">
                <label>Nombre producto:</label>
                <p class="inputcontrol"><%= productoSeleccionado.name%></p>
                </div>
            
            
            
                
                <div class="formulariodiv">
                <label>Descripción:</label>
                <p class="inputcontrol"><%= productoSeleccionado.description%></p>
                <label>Características:</label>
                <p class="inputcontrol"><%= productoSeleccionado.feature%></p>
                </div>
            
            
        <div class="formColumnas">
                
                <div class="formulariodiv">
                    <!--<label>Imágen:</label>-->
                    <p><img src="/images/products/<%= productoSeleccionado.image%>" alt="" id="imgProducto"></p>
                </div>
            
                
                <div class="formulariodiv">
                    <label>Precio venta:</label>
                    <p class="inputcontrol"><%= productoSeleccionado.price%></p>
                </div>

                <div class="formulariodiv">
                    <label>Stock inicial:</label>
                    <p class="inputcontrol"><%= productoSeleccionado.stock%></p>
                </div>

        </div>
        
            <div class="contenedorButton"><button type="submit" class="buttonform">Confirmar</button></div>

            
            
        </form>


    </main>




    <%- include("../partials/footer") %>

</body>
</html>